<h1> Please sign in: </h1>

<form class="" action="/sessions" method="post">
  <label for="user_email">Email</label>
  <input type="email" name="user_email" required>
  <label for="user_password">Password</label>
  <input type="password" name="user_password" value="">
  <button type="submit" id="sign_in" name="sign_in">Sign In</button>\
</form>
