<form class="" action="/users" method="post">
  <label for="user_email">Email</label>
  <input type="text" name="user_email" value="">
  <label for="user_password">Password</label>
  <input type="password" name="user_password" value="">
  <label for="password_confirmation">Confirm Password</label>
  <input type="password" name="password_confirmation" value="">
  <button type="submit" id="sign_up" name="sign_up">Sign Up</button>
</form>
