<form id="new_link_form" action="/links" method="post">
  <label for="link_title">Title</label>
  <input type="text" name="link_title" value="">
  <label for="link_url">URL</label>
  <input type="text" name="link_url" value="">
  <button type="submit" name="submit_link" id="submit_link">Submit Link</button>
</form>
