<h1> Welcome to Bookmark Manager! </h1>

<form action="/sessions/new" method="get">
  <button type="submit" name="new_log_in" id="new_log_in">Log In</button>
  <button type="submit" formaction="/users/new"name="new_sign_up" id="new_sign_up">Sign Up</button>
</form>
