<form class="" action="/sign_up" method="post">
  <label for="user_email">Email</label>
  <input type="text" name="user_email" value="">
  <label for="user_password">Password</label>
  <input type="text" name="user_password" value="">
  <button type="submit" id="sign_up" name="sign_up"></button>
</form>
